* {
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container {
  margin: 4rem auto;
}

.home-page-text {
  align-items: center;
  margin: 3rem auto;
}

a {
  text-decoration: none;
  color: rgb(136, 179, 194);
}
